---
---

#github-link {
    border-color: blue;
}

#projects-link {
    border-color: red;
}

#main-links a:hover .main-link {
    background-color: #d3d3d3;
}

#resume-link {
    border-color: brown;
}

#contact-link {
    border-color: green;
}

#main-links {
    margin: 20px;
}

.main-link {
    color: black;
    padding: 16px;
    font-size: 20px;
    border-left: 8px solid;
    margin: 12px 0px 12px 0px;
}

.bio {
    font-size: 16px;
}

.education-descr {
  font-size: 16px;
}
