---
---

#github-link {
    border-color: blue;
    animation-delay: 0.2s;
}

#projects-link {
    border-color: red;
    animation-delay: 0.4s;
}

#main-links a:hover .main-link {
    background-color: #d3d3d3;
}

#resume-link {
    border-color: brown;
    animation-delay: 0.6s;
}

#contact-link {
    border-color: green;
    animation-delay: 0.8s;
}

#main-links {
    margin: 20px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main-link {
    color: black;
    padding: 16px;
    font-size: 20px;
    border-left: 8px solid;
    margin: 12px 0px 12px 0px;
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.bio {
    font-size: 16px;
}

.education-descr {
  font-size: 16px;
}
