---
---
.panel-group .accordion-root {
  margin-top: 5px;

}

.education-pic {
  margin-bottom: 20px;
}

#rel-coursework-header {
  font-size: 30px;
}

#rel-coursework-descr {
  font-size: 14px;
}

.course-descr {
  margin-top: 12px;
}
