---
---

$nav_color: #e57e24;

.top {
	margin-top: 64px;
}

nav.navbar {
	background-color: $nav_color;
	border: none;
}

nav.navbar-default .navbar-nav  li a {
	color: white;
}

nav.navbar li.nav-active a {
	color: $nav_color;
}

.navbar-default a.navbar-brand {
	color: white;
	font-size: 25pt;
}

li.nav-active {
	background-color: white;
	color: white;
}

#nav-button {
	border-color: white;
}
