---
---
.project-title {
  font-size: 24px;
}

.projects-gray {
  background-color: #e4e4e4;
}

.project-descr {
  padding: 20px;
}

.project-summary {
  margin-bottom: 12px;
}

#politweet-img {
  height: 200px;
}

#projects-header {
  margin-bottom: 16px;
}
