---
---
.project-title {
  font-size: 24px;
}

.projects-gray {
  background-color: #f0f0f0;
}

.project-descr {
  padding: 20px;
}

.project-summary {
  margin-bottom: 12px;
}

.project-img {
    padding: 20px;
}

#politweet-img {
  height: 250px;
}

#garage-img {
    height: 200px;
}

#projects-cta {
    margin: 20px;
    font-size: 24px;
}

#projects-header {
  margin-bottom: 20px;
}
